header {
    background-color: #2892fd;
    color: white;
    padding: 20px;
    text-align: left;
}

main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

article {
    flex: 1 1 auto;
    border: 2px solid #2892fd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    position: relative;
}

aside {
    border: 2px solid #2892fd;
    width: 300px;
    padding: 16px;
   display: flex;
   justify-content: flex-end;
   margin-left: auto;
}
/* Example CSS Rule */
.works_on_smartphone {
  /* This style will only be applied to the <body> element */
  /* because the class is directly on it. */
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}